.intro
  .headlines.text-center
    %span#headlineOne
      %h1
        Track Sets. Track Reps. Track Weight.
    %span#headlineTwo
      %h3
        Track your gains.
  .buttonz.text-center
    %ul.list-inline
      %li
        =link_to new_user_registration_path, class: "btn btn-default btn-lg" do
          %i.fa.fa-sign-in
          %span
            Sign Up
      %li
        =link_to "https://github.com/dannyyu92/workout_app", class: "btn btn-default btn-lg" do
          %i.fa.fa-github
          %span
            Github