.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1
            Swole App
          %h3
            Track yo gains.
            %hr.intro-divider
            %ul.list-inline.intro-social-buttons
              %li
                =link_to exercises_path, class: "btn btn-default btn-lg" do
                  %i.fa.fa-sign-in.fa-fw
                  %span.network-name
                    Get Started
              %li
                =link_to "https://github.com/dannyyu92/workout_app", class: "btn btn-default btn-lg" do
                  %i.fa.fa-github.fa-fw
                  %span.network-name
                    Github

.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer
        .clearfix
        %h2.section-heading
          Log Your Exercises
        %p.lead
          Configure your sets, reps, and amount of weight. Add them to your log for an easy reference at the gym!
      .col-lg-5.col-lg-offset-2.col-sm-6
        %img{src: "assets/ipad.png", class: "img-responsive", alt: ""}

-#.content-section-b
  .container
    .row
      .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
        %hr.section-heading-spacer
        .clearfix
        %h2.section-heading
          Log Your Exercises
        %p.lead
          Configure your sets, reps, and amount of weight. Add them to your log for future reference!
      .col-lg-5.col-sm-pull-6.col-sm-6
        %img{src: "assets/doge.png", class: "img-responsive", alt: ""}

.banner
  .container
    .row
      .col-lg-6
        %h2
          Ready to start tracking?
      .col-lg-6
        %ul.list-inline.banner-social-buttons
          %li
            =link_to exercises_path, class: "btn btn-default btn-lg" do
              %i.fa.fa-sign-in.fa-fw
              %span.network-name
                Get Started
          %li
            =link_to "https://github.com/dannyyu92/workout_app", class: "btn btn-default btn-lg" do
              %i.fa.fa-github.fa-fw
              %span.network-name
                Github
