%footer
  .container
    %ul.list-inline.pull-right
      %li
        = link_to "HOME", root_path
      %li
        = link_to "ABOUT", "#"
      %li
        = link_to "CONTACT", "#"
    %p.text-muted.medium
      &copy; Danny Yu 2014