%footer
  .container
    .row
      .col-lg-12
        %ul{ class: "list-inline" }
          %li= link_to "Home", "#"
          %li{ class: "footer-menu-divider" } &sdot;
          %li= link_to "About", "#"
          %li{ class: "footer-menu-divider" } &sdot;
          %li= link_to "Contact", "#"
        %p{ class: "copyright text-muted small" } Ruby on Rails App by Danny Yu