%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{type: "button", "data-toggle" => "collapse", "data-target" => ".navbar-ex1-collapse"}
        %span{class: "sr-only"}
          Toggle navigation
        %span{class: "icon-bar"}
        %span{class: "icon-bar"}
        %span{class: "icon-bar"}
      =link_to "Swole App", page_path("home"), class: "navbar-brand"

    .collapse.navbar-collapse.navbar-right.navbar-ex-1-collapse
      %ul{class: "nav navbar-nav"}
        = render 'layouts/navigation_links'