.navbar.navbar-default.navbar-static-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{ data: { toggle:"collapse", target:"#collapsed-navbar" } } 
        %span.sr-only
          Toggle Navigation
        %i.fa.fa-plus.fw
      = link_to "SWOLE", root_path, id: "navbar-brand"

    .collapse.navbar-collapse#collapsed-navbar
      %ul.nav.navbar-nav.navbar-right
        = render 'layouts/navigation_links'